.todo-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 1px 1px rgb(193, 188, 188);
    height: 15vh;
    min-width: 280px;
    border: 1px solid;
}


.todo-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 100%;
    padding: 4px;
    
}

.todo-text p{
    width: 100%;
    padding: 2px;
    font-weight: bold;
   
}

.dateTime{
    display: flex;
    justify-content: center;
    width: 100%;
}
.dateTime p{
   width: 100%;
   color: rgba(0, 0, 0, 0.797);
}
.completedCheckbox{
    display: flex;
    padding: 15px 0;
    gap: 5px;
    width: 100px;
    justify-content: center;
    align-items: center;
}

.completedCheckbox input{
    width: 30%;
    height: 10vh;
    accent-color: green;
}

.priority{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 100%;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.closingButton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 10%;
    padding: 10px;
}
.btnClose{
    color: #5e0c02;
}

.btnClose:hover{
    color: #bf2b18;
}

.strikethrough{
    text-decoration: line-through;
    color: gray;
}

@media screen and (max-width:500px) {

    .todo-item{
        font-size:0.75rem
    }
    .dateTime{
        flex-direction: column;
    }
}